<body>
<iframe src="https://giphy.com/embed/1cXN3ppw2lC0M" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<p id="home">Enter the legit department store</p>
<button id="home_button"><%= link_to "Enter", departments_path %></button>
</body>
