<div class="container text-center border border-success">
<iframe src="https://giphy.com/embed/1cXN3ppw2lC0M" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
<p class="text-danger">Enter the legit department store</p>
<button type="button" class="btn btn-success" ><%= link_to "Enter", departments_path %></button>
</div>
